<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>parallel execution</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6d6c75">  <td>20/09/22 17:27:32</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;VehicleFilterTests.setup(java.lang.String)[pri:0, instance:com.leastplan.tests.VehicleFilterTests@5e025e70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@310644620</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>20/09/22 17:27:32</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;VehicleFilterTests.setup(java.lang.String)[pri:0, instance:com.leastplan.tests.VehicleFilterTests@721e0f4f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@287506374</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>20/09/22 17:27:32</td>   <td>278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VehicleFilterTests.sortingPrice()[pri:2, instance:com.leastplan.tests.VehicleFilterTests@5e025e70]">sortingPrice</td> 
  <td>TestNG@310644620</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>20/09/22 17:28:09</td>   <td>37079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VehicleFilterTests.sortingPrice()[pri:2, instance:com.leastplan.tests.VehicleFilterTests@721e0f4f]">sortingPrice</td> 
  <td>TestNG@287506374</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>20/09/22 17:27:32</td>   <td>274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VehicleFilterTests.vehicleFilter()[pri:1, instance:com.leastplan.tests.VehicleFilterTests@5e025e70]">vehicleFilter</td> 
  <td>TestNG@310644620</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>20/09/22 17:27:45</td>   <td>13335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VehicleFilterTests.vehicleFilter()[pri:1, instance:com.leastplan.tests.VehicleFilterTests@721e0f4f]">vehicleFilter</td> 
  <td>TestNG@287506374</td>   <td></td> </tr>
</table>
