<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a879bf">  <td>20/09/22 17:16:10</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;VehicleFilterTests.setup()[pri:0, instance:com.leastplan.tests.VehicleFilterTests@34340fab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13648335</td>   <td></td> </tr>
<tr bgcolor="a879bf">  <td>20/09/22 17:16:43</td>   <td>33122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VehicleFilterTests.sortingPrice()[pri:2, instance:com.leastplan.tests.VehicleFilterTests@34340fab]">sortingPrice</td> 
  <td>main@13648335</td>   <td></td> </tr>
<tr bgcolor="a879bf">  <td>20/09/22 17:16:21</td>   <td>10993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VehicleFilterTests.vehicleFilter()[pri:1, instance:com.leastplan.tests.VehicleFilterTests@34340fab]">vehicleFilter</td> 
  <td>main@13648335</td>   <td></td> </tr>
</table>
